/*
#1 = 35A49C
#2 = 79CDC0
*/
a {
	color: #35A49C;
}
a:hover {
	color: #79CDC0;
}

/* menu */
.nav>li>a:hover {
	color: #79CDC0;
}

.navbar .navbar-nav > .active > a {
	color: #79CDC0;
}

/* flexslider */
.flex-control-paging li a {
	background: #35A49C;
}

.flex-direction-nav a:hover{
	background-color:#35A49C;
}

.testimonial span.author a {
	color: #79CDC0;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #35A49C;
	box-shadow: 0 0 0 4px #35A49C;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #35A49C;
	box-shadow: 0 0 0 8px  #79CDC0;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #35A49C;
}

/* btn */
.btn-theme {
  background: #79CDC0;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #35A49C;
}
.btn-cta,.btn-cta.btn-lg {
  background: #35A49C;
  border-color: #79CDC0;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #35A49C;
}

/* contact */
.validation {
	color:#35A49C;
}

/* footer */
.social-circle li a {
	background:#35A49C;
}

a.scrollup{
	background:#F16621;
}



















/*########################################
##########################################
PetStar - customization
##########################################
########################################*/

*{ font-family: helveticaNeue;}
a:hover {color: #F16621;}


/*########################################
	GENERAL
########################################*/
section.featured, #section-features, #section-app,
#section-testimonials, #section-contact{
	min-height: 100vh;
	background-color: #efefef;
}

.section-header h2.section-heading {
	text-transform: none;
	font-weight: 200;
	font-family: "helveticaNeue-thin";
	margin-top: 24px;
	color: #253B7E;
	margin-bottom: 32px;
}

.section-header h2.section-heading ~ p {
	font-family: "helveticaNeue-thin";
	font-size: 20px;
	line-height: 150%;
}

h4{
	font-family: "helveticaNeue-thin";
	color: #F16621;
	font-size: 22px;
	font-weight: 200;
	margin-top: 10px;
}

h4 ~ p{
	color: #324052;
}

h4.white, h4.white ~ p{
	color: #324052;
}



/*########################################
	TOPBAR & NAVIGATION
########################################*/

.navbar-brand{height: auto;}
.navbar-nav{padding-top: 5px;}


h1 a.navbar-brand{
	font-size: 20px;
	font-weight: 200;
	padding-left: 38px;
	background: url(../img/topbar-icon.svg) left center no-repeat;
}
.nav>li>a{
	line-height: auto;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: .05em;
	text-transform: none;
}
.nav>li>a:hover {color: #F16621;}
.navbar .navbar-nav > .active > a { color: #F16621; }

/*########################################
	HEADER
########################################*/

section.featured {
	padding: 180px 0 60px;
  background: url(../img/topBanner-bgImage.png) center no-repeat;
	background-size: cover;
  color: #fdfdfd;
}


section.featured h2.slogan{
		background: url(../img/logo-topBanner.svg) center center no-repeat;
		height: 180px;
		text-indent: -10000px;
		margin-bottom: 48px;
}

section.featured h2.slogan ~ p{
	font-size: 26px;
	font-weight: 100;
	margin-bottom: 64px;
	font-family: "helveticaNeue-thin";
}

a.baixarApp_btn{
	color: #ECDBD3;
	font-family: "helveticaNeue-thin";
	font-size: 28px;
	font-weight: 100;
	padding: 10px 80px;
	background-color: #1E3066;
	background-image: none;
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.50);
	border-radius: 8px;
}
a.baixarApp_btn:hover{
	background-image: linear-gradient(-180deg, #263E85 0%, #1E3066 100%);
}


/*########################################
	section-app
########################################*/
#section-app{
	background: url(../img/screens-bg.png) center no-repeat;
	background-size: cover;
	min-height: 760px;
}

#section-app .section-header h2.section-heading{
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: -16px;
}
#section-app .section-header h2.section-heading ~ p {
	color: #efefef;
}
#section-app h4{ color: #ffffff;}

.phoneImage{ height: 400px; }

.store-btn{
	display: block;
	margin-top: 24px;
	opacity: 0.75;
}
.store-btn:hover{
	opacity: 1;
}




/*########################################
	section-testimonials
########################################*/
#section-testimonials .section-header h2.section-heading ~ p {
	color: #F16621;
}

.testimonial_item img{
	margin-right: 12px;
	display: block;
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.50);
	border-radius: 50%;
	width: 100%;
}

.testimonial_item h4{
	font-family: HelveticaNeue;
	font-size: 20px;
	color: #0076FF;
	margin-bottom: 8px;
}
.testimonial_item h5{
	font-family: HelveticaNeue;
	font-weight: 300;
	font-size: 14px;
	color: #253B7E;
	margin-bottom: 5px;
}
.testimonial_item p{
	opacity: 0.7;
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #324052;
}



/*########################################
	section-contact
########################################*/
#section-contact{
	background: url(../img/contact-bg.png) center no-repeat;
	background-size: cover;
}

#section-contact .section-header h2.section-heading{
	color: #ffffff;
}
#section-contact .section-header h2.section-heading ~ p {
	font-family: helveticaNeue-light;
	color: #F16621;
}



/* Contact form */
.form-group {
  margin-bottom: 10px;
}

form.contactForm label{
	opacity: 0.7;
	font-family: HelveticaNeue-light;
	font-weight: 300;
	font-size: 14px;
	color: #ECDBD3;
	margin-bottom: 2px;
}

#contact-form input[type=text], #contact-form input[type=email], .contactForm textarea, #contact-form select {
	background: rgba(236, 219, 211, 1);
	border: 1px solid rgba(241, 102, 33, 0.3);
	border-radius: 6px;
	font-family: HelveticaNeue;
	font-size: 16px;
	color: rgba(37,59,126,1);
}
#contact-form input[type=text], #contact-form input[type=email], #contact-form select{
	height: 42px;
	margin-bottom: 0px;
}
#contact-form input[type=text]:focus, #contact-form input[type=email]:focus, .contactForm textarea:focus{
	border: 1px solid rgba(241, 102, 33, 1);
	background: rgb(245, 243, 242);
	color: rgba(37,59,126,1);
}

#contact-form textarea{
	height: 200px;
}

.btn_container {
	width: 100%; text-align: center;
}
#contact-form .btn{
	background: #F16621;
	border: 1px solid #6B6B6B;
	border-radius: 8px;
	font-family: HelveticaNeue-light;
	font-weight: 400;
	font-size: 19px;
	color: #F0F0F0;
	padding: 8px 90px;
	margin: 0 auto;
	margin-top: 24px;
}


.validation {
    color: #F16621;
		margin: 0;
}


/*########################################
	section-login
########################################*/
#section-login{
	background-color: #efefef;
}

#section-login .section-header h2.section-heading ~ p {
    color: #F16621;
}

#login_form{ margin-top: 24px;}

#login_form input[type=text] {
	background: rgba(236, 219, 211, 1);
	border: 1px solid rgba(241, 102, 33, 0.3);
	border-radius: 6px;
	font-family: HelveticaNeue;
	font-size: 16px;
	color: rgba(37,59,126,1);
	padding: 6px 10px;
	width: 100%;
	height: 42px;
}

#login_form input[type=text]:focus{
	border: 1px solid rgba(241, 102, 33, 1);
	background: rgb(245, 243, 242);
	color: rgba(37,59,126,1);
}

#login_form .btn{
	background: #F16621;
	border: 1px solid #6B6B6B;
	border-radius: 8px;
	font-family: HelveticaNeue-light;
	font-weight: 400;
	font-size: 19px;
	color: #F0F0F0;
	height: 42px;
	width: 100%;
}


/*########################################
	section-footer
########################################*/
#section-footer{
	background-color: #161926;
	padding: 42px 0 24px 0;
	font-family: HelveticaNeue;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 150%;
}

#section-footer img{
	margin-right: 10px;
}










/* ========================================
RESPONSIVE
Media queries
========================================= */
@media (min-width: 959px) and (max-width: 1199px) {

}



/* ========================================
TABLET LANDSCAPE
========================================= */
@media only screen and (min-device-width : 979px) and (max-device-width : 1024px)  {

}



/* ========================================
TABLET PORTRAIT
========================================= */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	h1 a.navbar-brand{
		width: 24px;
		text-indent: -1000px;
		background-position: 10px center;
	}

	ul.social-network li{
		margin: 0;
	}

	.footer_store_btn{
		width: 43%;
	}

}



/* ========================================
SMALL DEVICES
========================================= */
@media (max-width: 767px) {

	.navbar.navbar-fixed-top{
		background-color: rgba(0,0,0,0.70);
		height: 70px;
	}

	h1 a.navbar-brand{
		margin-left: 14px;
		line-height: 70px;
	}

	.navbar-toggle{
		height: 84px;
		margin-top: -15px;
	}

	.navbar-collapse{
		padding: 0;
		margin-top: 0;
	}
	.navbar .navbar-collapse ul.nav{
		background-color: rgba(0,0,0,0.8);
	}
	.navbar-collapse.in{
		max-height: 100vh;
	}

	.navbar .navbar-collapse ul.nav li {
    border-bottom: 1px solid #444;
	}
	.navbar .navbar-collapse ul.nav li:last-child {
	  border-bottom: 4px solid #ff7701;
	}

	.navbar .navbar-collapse ul.nav li > a{
		line-height: 180%;
		display: block;
		text-align: left;
	}
	.navbar .navbar-collapse ul.nav li.active > a{
		padding-bottom: 10px;
		display: block;
		background-color: rgba(255, 119, 1, 0.8);
		color: #ffffff;
	}

	.phoneImage{
		width: 40vw;
		height: auto;
	}

	#login_form input[type=text], #login_form .btn {
		margin-left: 3%;
		margin-bottom: 18px;
		width: 94%;
	}

	#contact-form .btn{ width: 100%; }

	.footer_store_btn{
		width: 33vw;
	}


}




/**/
